<%= stylesheet_link_tag 'index', :media => "all" %>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/coffee.png" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>①MVを検索！</h1>
            <p>感想をつぶやきたいKPOPのMVを検索しよう</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/coffee.png" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption">
            <h1>②感想をツイート！</h1>
            <p>○分△秒の何が好きかつぶやこう</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/coffee.png" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption text-end">
          　<p>ツイートしたいMVがない場合…</p>
            <h1>③MVを簡単に追加！</h1>
           
            <p><a class="btn btn-lg btn-primary" href="#" role="button">MV追加ページへ！</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">前へ</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">次へ</span>
    </a>
  </div>


<h2>①MVを検索！</h2>
<h4>歌手名から検索</h4>
 <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<h4>曲名から検索</h4>
 <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>


<br>
<%# page_entries_info @tweets %>

<div class="tweets-container">
<h2>②「詳細」ボタンから感想をツイート！</h2>
<h4>MV一覧</h4>
  <% @tweets.each do |t| %>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=t.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    
    <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>　←

    <% if user_signed_in? %>
    <%= link_to "投稿者のマイページへ", user_path(current_user.id) %>　
    <% end %>

    <div class="tweet">
    <%= t.user.email %>

    <%= image_tag t.image_url, size: "250x200" if t.image? %>
   　　 

    <div class="main-box">
    <div class="left-container">

    　<%= link_to "詳細", tweet_path(t.id) %>　←コメントする場合はクリック！

    　<% if user_signed_in? && current_user.id == t.user_id %>
     　<%= link_to "曲名修正", edit_tweet_path(t.id) %>
     　<%= link_to "MVの削除", tweet_path(t.id), method: :delete %>
   　　<% end %> 

        <table>
  　　　　　<tr>
   　　　　　 <th>歌手名</th>
    　　　　　<td><%= t.title %></td>
  　　　　　</tr>
  　　　　　<tr>
   　　　　　 <th>曲名</th>
    　　　　　<td><%= t.body %></td>
  　　　　　</tr>

　　　　</table>
          
       </div>
      </div>
      
    </div>
  <% end %>
</div>

<h4>つぶやきたいMVがないときは…<h4>
<h2>③MVを簡単に追加！</h2>
<%= link_to "新しくMVを追加", new_tweet_path %>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>



<%# paginate @tweets %>

